

body {
    height: 95vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    linear-gradient(90deg, rgba(19,8,213,1) 0%, rgba(4,83,237,1) 34%, rgba(81,0,255,1) 78%);
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
}


.box {
    width: 40%;
    padding: 3rem 1rem 5rem 1rem;
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
}

form {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password {
width: 45%;
height: 4vh;
margin-right: 3%;
margin-left: 1%;
border-radius: 25px;
padding-left: 1rem;
font-size: medium;
background-color: rgba(0, 0, 0, 0.267);
outline: none;
border: none;
color: white;
}

#button {
width: 9%;
border: none;
height: 4vh;
border-radius: 25px;
font-size: 80%;
font-weight: bold;
text-align: center;
background-color: rgba(0, 0, 0, 0.267);
outline: none;
transition: background-color 0.2s linear;
color: white;
}

#button:hover {
background-color: #7e7a7bc0;
}

p {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    margin-top: 4rem;
    font-weight: bold;
    color: red;
    font-size: 2rem;
}
