

body {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(122, 240, 220);
}

.container {
    margin-top: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.box {
    width: 40%;
    border-radius: 35px;
    border: 2px solid black; 
    padding: 3rem 1rem 5rem 1rem;
    background-color: cornflowerblue;
    box-shadow: 20px 20px;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

form {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password {
    width: 45%;
    height: 4vh;
    margin-right: 3%;
    margin-left: 1%;
    border-radius: 25px;
    border: 2px solid black;
    padding-left: 1rem;
    font-size: medium;
}

#password:hover {
    scale: 1.05;
    transition-duration: 0.3s; 
}

#button {
    width: 9%;
    border: 2px solid black;
    height: 4vh;
    border-radius: 25px;
    font-size: 80%;
    font-weight: bold;
    background-color: rgb(162, 218, 240);
    text-align: center;
}

#button:hover {
    scale: 1.3;
    transition-duration: 0.3s;
    background-color: #42e6bd;
}

p {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    margin-top: 4rem;
    font-weight: bold;
    color: red;
    font-size: 2rem;
}