<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='FolderDrop-icon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Provide a password to Login</h1>
            <form method="POST">
                <input type="password" id="password" name="password" required>
                <input type="submit" id="button" value="Submit">
            </form>
        </div>
    </div>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>
